# Ignore 
KIRC*
KIRP*
HiSeq*
mapping/*
mapping_bis/*
meth/*
meth_before_amplicon_aware/*
Plots/*
Human/*
*_bef_*
mapping_bis_sorted/*
mapping_sorted/*
output_wgbstools/*
wgbs_tools/*
wgbs_tools

Check_TumorPurity.R


*.pptm
Test*
*.pdf
*.jpg
*.jpeg
*.gif
*.bw
*.gz
*.png
*.h5
*.h5ad
*.npz
*.npy
*.mtx
*.xlsx
*.tsv
*.Rda
*.csv
*.html
*.zip
*.fastq
*.fq

*.rds
*.txt
*.txt.gz
*.log
*.docx
*.gtf
*.fa

*.arrow

